*{
	margin: 0;
	padding: 0;
}

body {
	background-image: url(img/BG.png);
	min-width: 1170px;
}

header.cap {
	width: 80%;
	margin: auto;
}

.smicons{
	margin-top: -18px;
	float: left;
}

a.smicons__facebook{
	background-color: transparent;
	background-image: url(img/smicons__facebook.png);
	display: block; /*  Рисунок как блочный элемент */
    width: 43px; /* Ширина рисунка */
	height: 145px; /*  Высота рисунка */
}
a.smicons__facebook:hover{
	background-color: transparent;
	background-image: url(img/smicons__facebook__hover.png);
}

a.smicons__instagram{
	background-color: transparent;
	background-image: url(img/smicons__instagram.png);
	display: block; /*  Рисунок как блочный элемент */
    width: 43px; /* Ширина рисунка */
	height: 145px; /*  Высота рисунка */
	margin-right: 12px;
}
a.smicons__instagram:hover{
	background-color: transparent;
	background-image: url(img/smicons__instagram__hover.png);
}

a.smicons__twitter{
	background-color: transparent;
	background-image: url(img/smicons__twitter.png);
	display: block; /*  Рисунок как блочный элемент */
    width: 43px; /* Ширина рисунка */
	height: 145px; /*  Высота рисунка */
	margin-right: 10px;
}
a.smicons__twitter:hover{
	background-color: transparent;
	background-image: url(img/smicons__twitter__hover.png);
}

a.smicons__linkedin{
	background-color: transparent;
	background-image: url(img/smicons__linkedin.png);
	display: block; /*  Рисунок как блочный элемент */
    width: 43px; /* Ширина рисунка */
	height: 145px; /*  Высота рисунка */
	margin-right: 25%;
}
a.smicons__linkedin:hover{
	background-color: transparent;
	background-image: url(img/smicons__linkedin__hover.png);
}

h1{
	color: white;
	font: 3em Arial, Helvetica, sans-serif;

}

h2.perviy {
	color: white;
	font: 1.3em Arial, Helvetica, sans-serif;
	margin-left: 11%;
	position: relative;
}

.left1 {
	margin-top: 8%;
	margin-left: 11%;
	position: relative;
}

p {
	margin: auto;
	display: inline-block;
	max-width: 50%;
}

img {
	width: 75%;
}

#ssylka {
	width: 16.5%;
	margin-left: 11%;
	position: relative;
}

a:hover {
	position: relative;
	transition: all 0.8s ease 0s;
    background-color: green;
}
#girl {
	float: right;
	margin-right: 3%;
	width: 50%;
	position: relative;

}

#bg2 {
	position: absolute;
	width: 100%;
	margin-top: -50%;
}

.bg1{
	position: absolute;
	width: 100%;
	height: 900px;
	margin-top: 150px;
}/**/

.video {
	width: 45%;
	float: left;
	margin-left: 6%;
}

.abz{
	color: white;
	font: 3em Arial, Helvetica, sans-serif;
	margin-right: 7%;
	margin-left: 55%;
}

.grtext {
	color: green;
	font: 2em Arial, Helvetica, sans-serif;
	margin-right: 7%;
	margin-left: 55%;
}

.abz2 {
	color: white;
	font: 1.2em Arial, Helvetica, sans-serif;
	margin-right: 7%;
	margin-left: 55%;
}

.bz {
	margin-top: 450px;
}

#ssylka2 {
	margin-left: 55%;
	width: 16.5%;
	position: relative;
}

#ulitki {
	position: absolute;
	width: 100%;
	margin-left: -55%;
}

img.t2 {
	width: 70%;
	float: left;
}
#header2{
	width: 89%;
	margin: auto;
}
.t21 {
	float: top;
}
.ball {
	color: grey;
	font: 1em Arial, Helvetica, sans-serif;
}

.products {
	position:  absolute;
	margin-left: 5%;
	width: 20%;
}
.grtext2 {
	color: green;
	font: 1.2em Arial, Helvetica, sans-serif;
}

.products2 {
	position:  absolute;
	text-align: left;
	margin-left: 70%;
	width: 20%;
}

header.productsss {
	width: 90%;
	margin: auto;
}

.white {
	color: white;
	font: 1.8em Arial, Helvetica, sans-serif;
	width: 60%;
}
.green {
	color: green;
	font: 2em Arial, Helvetica, sans-serif;
}
.bottle {
	font: 1em Arial, Helvetica, sans-serif;
	color: white;
	width: 35%;
	text-align: justify;
}
#ssylka4 {
	width: 25%;
	position: relative;
}
.explosion {
	position: absolute;
	width: 65%;
	margin-left: -30%;
	margin-top: -100px;
}
.bgder {
	position: absolute;
	text-align: right;
	width: 45%;
	margin-left: 55%;
}


#shoes{
	width: 32%;
	position: absolute;
	margin-top: 280px;
	margin-left: 3.5%;
}

#shoes2 {
	width: 40%;
	position: relative;
	margin-top: 300px;
	margin-left: 6%;
	float: left;
}

.shoesname{
	color: white;
	font: 2.2em Arial, Helvetica, sans-serif;
	position: absolute;
	margin-top: 335px;
	margin-left: 40%;
}

#shoestext{
	color: white;
	margin-top: 393px;
	width: 37%;
	position: absolute;
	font: 1.4em Arial, Helvetica, sans-serif;
	text-align: center;
	font-style: italic;
	letter-spacing: 7px;
	font-size: 19px;
	margin-left: 39%;
	line-height: 30px;
}

.kavychky {
	color: white;
	position: absolute;
	font: 4em Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-top: -10px;
}

#shoestext2{
	color: white;
	margin-top: 390px;
	position: absolute;
	font: 4em Arial, Helvetica, sans-serif;
	text-align: left;
	font-style: italic;
	margin-left: 35%;
}

#shoestext3{
	color: green;
}

#ssylka5 {
	position: absolute;
	color: green;
	text-transform: none;
	font: 1.8em Arial, Helvetica, sans-serif;
	margin-top: 500px;
	font-style: italic;
	letter-spacing: 5px;
	text-shadow: 0 0 1em green;
}
#ssylka5:hover {
	background-color: transparent;
	color: rgb(142, 235, 21);
	transition: all 0.8s ease 0s;
}

.diagramma{
	margin-top: 630px;
}

#bgder2{
	width: 30%;
	position: absolute;
}

#splash{
	width: 18%;
	margin-top: 150px;
	position: absolute;
	text-align: right;
	margin-left: 82%;
}

#diagrammaname{
	color: white;
	font: 2.2em Arial, Helvetica, sans-serif;
	text-align: center;
	position: relative;
	margin-top: 170px;
}

#diagrammacontent {
	margin-top: 500px;
}

.form{
	margin-top: 500px;
	position: relative;
	width: 41%;
	margin: auto;
	border: none;
}
#form{
	width: 100%;
}

	/*1 пункт формы*/
form div {
	clear: left;
	margin: 0;
	padding: 0;
	padding-top: 0.6em;
}
form div label {
	float: left;
	width: 47%;
	color: white;
	font: 0.7em Arial, Helvetica, sans-serif;
	border-bottom: 2px solid green;
	letter-spacing: 6px;
	padding-bottom: 8px;
}

	/*2 пункт формы*/
#fullname{
	width: 46%;
	margin-left: 6.5%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid green;
	padding-bottom: 5px;	
	letter-spacing: 4px;
	padding-bottom: 8px;	
	color: white;
	font: 1.1em Arial, Helvetica, sans-serif;
}

	/*3 пункт формы*/
#celular{
	width: 47%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid green;
	padding-bottom: 5px;	
	letter-spacing: 4px;
	padding-bottom: 8px;	
	color: white;
	font: 1.1em Arial, Helvetica, sans-serif;

}

	/*4 пункт формы*/
.select{
	background-color: none;
	border-bottom-width: 40%;
	background-color: transparent;
	width: 46%;
	color: rgb(126, 125, 125);
	border: none;
	border-bottom: 2px solid green;
	margin-left: 6%;
	font: 1.1em Arial, Helvetica, sans-serif;
	letter-spacing: 4px;
	padding-bottom: 8px;
}

	/*5 пункт формы*/
.select2{
	background-color: none;
	border-bottom-width: 40%;
	background-color: transparent;
	width: 47%;
	color:  rgb(126, 125, 125);
	border: none;
	border-bottom: 2px solid green;
	font: 1.1em Arial, Helvetica, sans-serif;
	letter-spacing: 4px;
	padding-bottom: 8px;	
}

	/*6 пункт формы*/
#fullname2{
	width: 46%;
	margin-left: 6%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid green;
	padding-bottom: 5px;	
	letter-spacing: 4px;
	padding-bottom: 8px;	
	color: white;
	font: 1.1em Arial, Helvetica, sans-serif;
	}

	/*7 пункт формы*/
#comment{
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid green;
	padding-bottom: 5px;	
	letter-spacing: 4px;
	padding-bottom: 8px;	
	color: white;
	font: 1.1em Arial, Helvetica, sans-serif;
}

	/*Согласие на обработку*/
.accept{
	color: white;
	text-align: center;
	border-color: green;
}
#accept{
	text-decoration: underline;
}

	/*Отправка формы*/
.ssylka6{
	width: 50%;
	margin-left: 31%;
}

.footer{
	width: 85%;
	margin-left: 7.5%;
}

#Suscríbete{
	letter-spacing: 1px;
}

#poloska{
	width: 100%;
	height: 0.5px;
	background: radial-gradient(green, black);
}

#footername{
	text-align: center;
	color: white;
	font: 1.3em Arial, Helvetica, sans-serif;
	margin-top: 50px;
}

#poloska2{
	width: 25%;
	height: 1px;
	background-color: green;
	margin: auto;
	margin-top: -2px;

}

.strelka2{
	border: 3px solid green;
	box-sizing: content-box;
	padding: 3px;
	text-decoration: none;
	color: white;
}



.footertext{
	color: green;
	font: 1.3em Arial, Helvetica, sans-serif;
	text-align: left;
	letter-spacing: 5px;
}

.icons{
	width: 200px;
	margin-top: 20px;
	margin-left: -13px;
}

.icons2{
	background-color: transparent;
	filter: grayscale(100%);
	float: left;
}
.icons2:hover{
	background-color: transparent;
	filter: grayscale(0%);
}

.contacts{
	margin-left: 5px;
}
.footermail{
	color: rgb(192, 189, 189);
	font: 1.3em Arial, Helvetica, sans-serif;
	margin-top: 20px;
	letter-spacing: 2px;
	margin-left: -5px;
	text-align: left;
}

#ssylka6{
	color: rgb(192, 189, 189);
	font: 0.9em Arial, Helvetica, sans-serif;
}
#ssylka6:hover{
	background-color: transparent;
	transition: all 0.4s ease 0s;
	text-decoration: none;
}
.maps{
	color: rgb(192, 189, 189);
	font: 1.3em Arial, Helvetica, sans-serif;
	width: 100px;
}
.maps:hover{
	background-color: transparent;
	transition: all 0.4s ease 0s;
	text-decoration: none;
}
.maps2{
	margin-top: 20px;
}
#bold__text{
	font-weight: bold;
}
#bold__text__bogota{
	font-weight: bold;
	margin-left: 5px;
}

#footer__grey{
	color: rgb(109, 106, 106);
	font: 0.9em Arial, Helvetica, sans-serif;
	letter-spacing: 0.5px;
}

#footer__splash{
	position: absolute;
	width: 100%;
	
}

#footer__grey__ssylka{
	color: rgb(109, 106, 106);
}
#footer__grey__ssylka:hover{
	text-decoration: none;
	background-color: transparent;
}

